<div class="page-container">
    <div class="cart-item">
            <div *ngFor="let cart of cartItems; let i = index">
                <img src={{cart?.url}} alt={{cart?.name}}/>
                <h4>{{ cart?.name }}</h4>
                <h5>{{ +cart.price *  (cart.quantity || 1) | number: '1.0-2'}}</h5>
                Amount: <input #quant type="number" name="quantity" value="{{ cart.quantity }}" step="1" min="1" max="10" (change)="updateQuantity(i, quant.value)"/><br>
                <button (click)="removeProduct(cart.id)">Remove Product</button><br>
            </div>
        <h2>Total: <b>${{ cartTotal }}</b></h2>
    </div>
    <div class="form-container">
        <!-- form -->
        <form #form="ngForm" (ngSubmit)="checkoutOrder()" class="form-margin">
            Fullname<br>
            <input #fullname="ngModel" type="text" pattern="[a-zA-Z ]*" placeholder="(minimum 3 characters)" required minlength="5" maxlength="50" name="fullname" [ngModel]="fullname.value" (ngModelChange)="fullname"/><br>
            Address<br>
            <input #address="ngModel" type="text" placeholder="(minimum 7 characters)" required minlength="7" maxlength="100" name="address" [ngModel]="address.value" (ngModelChange)="address"/><br>
            Credit Card<br>
            <input #creditcard="ngModel" pattern="[0-9]*" type="tel" placeholder="(minimum 15 characters)" required minlength="15" maxlength="16" name="creditcard" [ngModel]="creditcard.value" (ngModelChange)="creditcard"/><br>
            <input type="submit" [disabled]="form.invalid" value="Submit"><br>
        </form>
        <div *ngIf="fullname.invalid && (fullname.dirty)"
        class="alert">
            <div *ngIf="fullname.errors?.['required']">
              Fullname is required.
            </div>
            <div *ngIf="fullname.errors?.['pattern']">
                Fullname cannot have numbers
              </div>
            <div *ngIf="fullname.errors?.['minlength']">
              Name must be at least 3 characters long.
            </div>
        </div>
        <div *ngIf="address.invalid && (address.dirty)"
            class="alert">
                <div *ngIf="address.errors?.['required']">
                  Address is required.
                </div>
                <div *ngIf="address.errors?.['minlength']">
                  Address must be at least 7 characters long.
                </div>
        </div>
        <div *ngIf="creditcard.invalid && (creditcard.dirty)"
            class="alert">
                <div *ngIf="creditcard.errors?.['required']">
                  Credit card is required.
                </div>
                <div *ngIf="creditcard.errors?.['pattern']">
                    Numbers Only
                  </div>
                <div *ngIf="creditcard.errors?.['minlength']">
                  Credit Card must be at least 15 characters long (Amex).
                </div>
            </div>
        </div>
    </div>

    <!-- Fullname<br>
    <input #fullname="ngModel" type="text" placeholder="(minimum 3 characters)" required minlength="5" maxlength="50" name="fullname" [(ngModel)]="fullname" (ngModelChange)="fullname = $event"/><br>
    Address<br>
    <input #address="ngModel" type="text" placeholder="(minimum 7 characters)" required minlength="7" maxlength="100" name="address" [ngModel]="address" (ngModelChange)="address"/><br>
    Credit Card<br>
    <input #creditcard="ngModel" type="tel" placeholder="(minimum 15 characters)" required minlength="15" maxlength="16" name="creditcard" [ngModel]="creditcard" (ngModelChange)="creditcard"/><br> -->