<div class="order-wrapper">
<div class="confirmation-container" *ngIf="displayPage; else showThis">
    <h1>Success! 🎉</h1>
    <h3>Thank you <b>{{orderDetails.fullname}}</b></h3>
    <h3>Your <b>${{ +orderDetails.total }}</b> order is confirmed</h3>
    <h3>Please allow 1-3 business day(s) for shipping</h3>
    <a routerLink="/" (click)="clearOrder()">Back to product list</a>
</div>
<ng-template #showThis>
    <div class="confirmation-container">
    <h1>Oops! 😬</h1>
    <h3>No Order Found</h3>
    <h3>Go back the checkout page to complete your order</h3>
    <a routerLink="/checkout">Back to checkout</a>
    </div>
</ng-template>
</div>
