<div class="page-container">
    <div class="product-container">
            <img src={{product?.url}} alt={{product?.name}} class="product-image"/>
        </div>
        <div class="product-container">
            <form (ngSubmit)="addToCart()">
            <h3>{{ product?.name }}</h3>
            <p>{{ product?.description }}</p>
            <span>${{ product?.price }}</span><br>
            <select name="quantity" [(ngModel)]="quantity" class="select-input">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select><br>            
            <input type="submit" value="Add To Cart"><br>
            <a routerLink="/">Return To Products</a><br>
        </form>
        </div>
    </div>
