.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  a {
    color: #ffffff;
  }

  li {
      display: inline;
  }

  li a {
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }